.about {
    padding-top: 70px;
    padding-bottom: 70px;

    // .about__left
    &__left {
        width: 235px;
        height: 230px;
    }

    // .about__right-title
    &__right-title {
        text-align: center;
        margin-bottom: 28px;

        @include breakpoint($md) {
            text-align: left;
        }
    }

    // .about__right-description
    &__right-description {
        color: #413d4b;
        margin-bottom: 30px;
    }

    // .about__right-button
    &__right-button {
        display: block;
        margin: 0 auto;

        @include breakpoint($md) {
            margin: 0;
        }
    }
}