.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;

  // .logo__image
  &__image {
    width: 44px;
    height: 50px;
  }

  // .logo__text
  &__text {
    font-size: 3rem;
    font-weight: 100;
    color: $primary;
  }
}