// .person-list
.person-list {
  list-style: none;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;

  // .person__list-item
  &-item {

    &.active {
      transform: scale(2);
    }
  }
}